button {
  border: none;
  background-color: rgb(173, 68, 147);
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: rgb(155, 55, 133);
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(77, 201, 174);
}

.equals:hover {
  background-color: rgb(62, 161, 185);
}
